__Importing libraries__

In [51]:
import pandas as pd
import csv

In [53]:
#regular expression
import re, string, unicodedata
#natural language processing 
import nltk
#to turn contractions in English language to expanded form. Example: you're = you are
import contractions
#turning numbers to words
import inflect
from bs4 import BeautifulSoup
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer

# Create a corpus

__Read .csv file__

In [40]:
df = pd.read_csv('Airbnb_Texas_Rentals.csv')
df.head(1)

,Unnamed: 0,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,1,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...

__Data cleaning__

In [42]:
#dropping columns we won't need
df.drop(columns=['Unnamed: 0', 'average_rate_per_night', 'bedrooms_count', 'date_of_listing', 'latitude', 'longitude'], inplace=True)

In [43]:
df.head(1)

,city,description,title,url
0,Humble,Welcome to stay in private room with queen bed...,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...

In [44]:
#see if there are any nan values 
df.isnull().any()
#resukt shows that we have nan values in two columns: description and url

city           False
description     True
title           True
url            False
dtype: bool

In [45]:
#let's get rid of rows with NaN vales
df=df.dropna(subset=['description', 'title'])
df.isnull().any()

city           False
description    False
title          False
url            False
dtype: bool

__Write cleaned dataframe to a file__

In [46]:
df.to_csv('Airbnb_Texas_Rentals_cleaned.csv')

__.csv to .tsv__

In [47]:
with open('Airbnb_Texas_Rentals_cleaned.csv','r',encoding="utf8") as csv_file:
    csv_reader=csv.reader(csv_file)
    
    with open('Airbnb_Texas_Rentals_TSV.tsv','w',encoding="utf8") as new_file: 
        csv_writer=csv.writer(new_file,delimiter='\t')
    
        for line in csv_reader:
            csv_writer.writerow(line[1:])

__Create the corpus__

In [48]:
with open('Airbnb_Texas_Rentals_TSV.tsv','r',encoding="utf8") as all_files:
    for i, row in enumerate(all_files):
        if i > 0:
            if row != '\n':
                with open('doc_' + str(int((i-(i/2)))) + '.tsv','w',encoding="utf8") as new_files:
                     new_files.write(row)

# Pre_Processing

__Tokenization__

__Normalization__

# Inverted index

In [ ]:
#inv_indx = {i:[] for i in corpus_dict}
#for word in corpus_dict:
    #for i in range(len(docs)):
        #if word in docs[i]:
            #inv_indx[word].append(i)

In [ ]:
#from collections import defaultdict

#inv_indx = defaultdict(list)
#for idx, text in enumerate(docs):
    #for word in text:
        #inv_indx[word].append(idx)

In [ ]:
sub_voc = []
for i in range(1,10):
    #here i open the file as r+ that means reading and writing
    with open('doc_' + str(i) + '.tsv','r+',encoding="utf8") as opened_files:
        #i make a reader out of the opened file so i can iterate through the rows of the files
        csv_reader = csv.reader(opened_files, delimiter = '\t')
        #i iterate the rows, which are list of words, then through the fields, which contain many words
        for line in csv_reader:
            for field in line:
                #i transform every field into their tokenized version(splits words and punctuation with a comma)
                tokens = nltk.word_tokenize(field)
                #i call as an object the stemmer. example of stem = playing, plays ---> stem= play(its like the base of the words)
                ps = PorterStemmer()
                #here i make the conditions to: stem, not including the stepwords(the,on,in,ecc...) and remove punctuation.
                tokens = [ps.stem(token) for token in tokens if token not in stopwords.words('english') if token not in ".,'"]
                
                sub_voc.append(tokens)

# here i use the dict.fromkeys function to create the vocabulary as a dictionary with a set(so i have no repetitions),
# from a list comprehension that gets the values from the appeneded sub_voc and puts them in a plain list(i do this to,
# turn a list of lists into a plain list). the second argument of dict fromkeys is the default value.
vocabulary = dict.fromkeys(set([item for sublist in vocabulary for item in sublist]), 0)